
	</div>


	<br><br>
	<!-- Footer -->
	<footer class="text-center">
	
			<div class="navbar navbar-default fixed-bottom"><br>
			
				<p> Evaluaci&oacute;n continua Pr&aacute;ctica 1 : Manuel Puchades 
				<a href = "https://www.codeurjc.es/" data-toogle="tooltip" title= "Code URJC">Master Cloud Apps</a></p>
		</div>

	

	</footer>
	<!-- Footer -->

	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	</body>
</html>